# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv
env/
venv/

# Environment file
.env

# Editor/IDE
.idea/
.vscode/

# OS
.DS_Store
